<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>Sobre mi</h2>
    <hr>
    <p>Soy un programador....
  </div>
  <div class="col-2 homepage_content">
    <h2>Cosas que he escrito</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
  
</div>